importFrom(stats, dnorm, pnorm, predict, quantile)
exportPattern("^[^.]")
export(skater)
export(observe)
S3method(observe, skater)
S3method(predict, skater)
S3method(quantile, skater)
S3method(print, skater)
